<div class="text-center">
    <button id="walkthrough-selector-button" class="shepherd-button shepherd-button-primary shepherd-button ">
        @T["Click here to select a walkthrough!"]
    </button>
</div>
